<!DOCTYPE html>
<html>
    <head>
        <style>
    
     img{
          height: 15px;
     }
        </style>
    </head>
     
     <h1> Lifespan Calculator!</h1> 
  <body> 
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Pirate_Skull_Emoji_Icon.png?11214052019865124406"></img>
   <p>This is your estimated lifespan according to lifestyle and habits: {{age}}</p>
     
     
     <a href="URL"> 
     
  </body>
     
     
</htmtl>